/*navbar*/
#navbar{
    color: white;
    display: flex;
    justify-content: space-between;
}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
    margin: 10px;
    margin-left: 50px;
}

a{
    color: #e5e7eb;
    font-size: 18px;
    margin: 10px;
}

a:hover{
    background-color: antiquewhite;
    color: #1F2937
}
/*hero*/
#hero{
    color: white; 
    display: flex;
    flex-direction: row;
    margin: 50px;
    max-width: 900px;
    padding-bottom: 50px;
}

h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    max-width: 400px;
}

#hero2{
    background-color: #1F2937;
}
.hero-text{
    font-size: 18px;
    color: #e5e7eb;
}
/*information*/
#information{
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#information-header{
    font-size: 36px;
    font-weight: bolder;
}

#information-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#individual-images{
  max-width: 200px;
  flex: 0 auto;
}

img{
    width: 200px;
    
}
/*quote*/
#box-quote{
   display: flex; 
   justify-content: center;
   background-color: #e5e7eb;
}

#quote{
   
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 auto;
    align-items: center;
    
}

#quote-message{
    font-size: 36px;
    font-style: italic;
    font-weight: 1;
    max-width: 500px;

}

#quote-name{
    font-weight: bolder;
    align-self: self-end;
    
}

/*call to action*/
#box-message{
    display: flex; 
   justify-content: center;
}

#action-message{
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    justify-content: space-around;
    width: 900px;
}

button{
    background-color: #3882f6;
    color: white;
    border-color: #3882f6;
    border-radius: 12%;
    box-shadow: none;
    padding: 2px 15px;
}

/*footer*/
#footer{
    background-color: #1F2937;
    color: white;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}